# import os library for os work

In [1]:
import os

In [2]:
proj_path = os.getcwd()
file_path = proj_path+'\\data\\'
data_files = os.listdir(file_path)
print(data_files)

['movies.csv', 'tmdb_5000_credits.csv', 'tmdb_5000_movies.csv']

# create variables for true and false values

In [3]:
t = True
f = False

# importing analysis files

In [4]:
import pandas as pd
import numpy as np

# converting all csv / files into dataframe

In [5]:
movies = []
df_list = {}
count=0
for i in data_files:
    file_split = i.split('_')
    file_name = file_split[-1]
    df_name = file_name.replace('.','_')
    df_list[df_name] = pd.read_csv(file_path+f'\\{i}')
print(df_list)

{'movies_csv':          budget                                             genres  \
0     237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1     300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2     245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3     250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4     260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
...         ...                                                ...
4798     220000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799       9000  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800          0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801          0                                                 []
4802          0                [{"id": 99, "name": "Documentary"}]

                                               homepage      id  \
0                           http://www.avatarmovie.com/   19995
1          http://disney.go.com/disneypictures/pirates/     285
2           http://www.sonypictures.com/movies/spectre/  206647
3                    http://www.thedarkknightrises.com/   49026
4                  http://movies.disney.com/john-carter   49529
...                                                 ...     ...
4798                                                NaN    9367
4799                                                NaN   72766
4800  http://www.hallmarkchannel.com/signedsealeddel...  231617
4801                        http://shanghaicalling.com/  126186
4802                                                NaN   25975

                                               keywords original_language  \
0     [{"id": 1463, "name": "culture clash"}, {"id":...                en
1     [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2     [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3     [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4     [{"id": 818, "name": "based on novel"}, {"id":...                en
...                                                 ...               ...
4798  [{"id": 5616, "name": "united states\u2013mexi...                es
4799                                                 []                en
4800  [{"id": 248, "name": "date"}, {"id": 699, "nam...                en
4801                                                 []                en
4802  [{"id": 1523, "name": "obsession"}, {"id": 224...                en

                                original_title  \
0                                       Avatar
1     Pirates of the Caribbean: At World's End
2                                      Spectre
3                        The Dark Knight Rises
4                                  John Carter
...                                        ...
4798                               El Mariachi
4799                                 Newlyweds
4800                 Signed, Sealed, Delivered
4801                          Shanghai Calling
4802                         My Date with Drew

                                               overview  popularity  \
0     In the 22nd century, a paraplegic Marine is di...  150.437577
1     Captain Barbossa, long believed to be dead, ha...  139.082615
2     A cryptic message from Bondâ€™s past sends him o...  107.376788
3     Following the death of District Attorney Harve...  112.312950
4     John Carter is a war-weary, former military ca...   43.926995
...                                                 ...         ...
4798  El Mariachi just wants to play his guitar and ...   14.269792
4799  A newlywed couple's honeymoon is upended by th...    0.642552
4800  "Signed, Sealed, Delivered" introduces a dedic...    1.444476
4801  When ambitious New York attorney Sam is sent t...    0.857008
4802  Ever since the second grade when he first saw ...    1.929883

                                   production_companies  \
0     [{"name": "Ingenious Film Partners", "id": 289...
1     [{"name": "Walt Disney Pictures", "id": 2}, {"...
2     [{"name": "Columbia Pictures", "id": 5}, {"nam...
3     [{"name": "Legendary Pictures", "id": 923}, {"...
4           [{"name": "Walt Disney Pictures", "id": 2}]
...                                                 ...
4798           [{"name": "Columbia Pictures", "id": 5}]
4799                                                 []
4800  [{"name": "Front Street Pictures", "id": 3958}...
4801                                                 []
4802  [{"name": "rusty bear entertainment", "id": 87...

                                   production_countries release_date  \
0     [{"iso_3166_1": "US", "name": "United States o...   2009-12-10
1     [{"iso_3166_1": "US", "name": "United States o...   2007-05-19
2     [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26
3     [{"iso_3166_1": "US", "name": "United States o...   2012-07-16
4     [{"iso_3166_1": "US", "name": "United States o...   2012-03-07
...                                                 ...          ...
4798  [{"iso_3166_1": "MX", "name": "Mexico"}, {"iso...   1992-09-04
4799                                                 []   2011-12-26
4800  [{"iso_3166_1": "US", "name": "United States o...   2013-10-13
4801  [{"iso_3166_1": "US", "name": "United States o...   2012-05-03
4802  [{"iso_3166_1": "US", "name": "United States o...   2005-08-05

         revenue  runtime                                   spoken_languages  \
0     2787965087    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
1      961000000    169.0           [{"iso_639_1": "en", "name": "English"}]
2      880674609    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...
3     1084939099    165.0           [{"iso_639_1": "en", "name": "English"}]
4      284139100    132.0           [{"iso_639_1": "en", "name": "English"}]
...          ...      ...                                                ...
4798     2040920     81.0      [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]
4799           0     85.0                                                 []
4800           0    120.0           [{"iso_639_1": "en", "name": "English"}]
4801           0     98.0           [{"iso_639_1": "en", "name": "English"}]
4802           0     90.0           [{"iso_639_1": "en", "name": "English"}]

        status                                            tagline  \
0     Released                        Enter the World of Pandora.
1     Released     At the end of the world, the adventure begins.
2     Released                              A Plan No One Escapes
3     Released                                    The Legend Ends
4     Released               Lost in our world, found in another.
...        ...                                                ...
4798  Released  He didn't come looking for trouble, but troubl...
4799  Released  A newlywed couple's honeymoon is upended by th...
4800  Released                                                NaN
4801  Released                           A New Yorker in Shanghai
4802  Released                                                NaN

                                         title  vote_average  vote_count
0                                       Avatar           7.2       11800
1     Pirates of the Caribbean: At World's End           6.9        4500
2                                      Spectre           6.3        4466
3                        The Dark Knight Rises           7.6        9106
4                                  John Carter           6.1        2124
...                                        ...           ...         ...
4798                               El Mariachi           6.6         238
4799                                 Newlyweds           5.9           5
4800                 Signed, Sealed, Delivered           7.0           6
4801                          Shanghai Calling           5.7           7
4802                         My Date with Drew           6.3          16

[4803 rows x 20 columns], 'credits_csv':       movie_id                                     title  \
0        19995                                    Avatar
1          285  Pirates of the Caribbean: At World's End
2       206647                                   Spectre
3        49026                     The Dark Knight Rises
4        49529                               John Carter
...        ...                                       ...
4798      9367                               El Mariachi
4799     72766                                 Newlyweds
4800    231617                 Signed, Sealed, Delivered
4801    126186                          Shanghai Calling
4802     25975                         My Date with Drew

                                                   cast  \
0     [{"cast_id": 242, "character": "Jake Sully", "...
1     [{"cast_id": 4, "character": "Captain Jack Spa...
2     [{"cast_id": 1, "character": "James Bond", "cr...
3     [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4     [{"cast_id": 5, "character": "John Carter", "c...
...                                                 ...
4798  [{"cast_id": 1, "character": "El Mariachi", "c...
4799  [{"cast_id": 1, "character": "Buzzy", "credit_...
4800  [{"cast_id": 8, "character": "Oliver O\u2019To...
4801  [{"cast_id": 3, "character": "Sam", "credit_id...
4802  [{"cast_id": 3, "character": "Herself", "credi...

                                                   crew
0     [{"credit_id": "52fe48009251416c750aca23", "de...
1     [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     [{"credit_id": "54805967c3a36829b5002c41", "de...
3     [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...                                                 ...
4798  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 4 columns]}

In [6]:
dataframes = df_list.keys()
dataframes

dict_keys(['movies_csv', 'credits_csv'])

# loading data frames

In [7]:
df_list['movies_csv']

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [8]:
df_list['credits_csv']

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

# getting common column in dataframes / csv

In [9]:
count = 0
key_dict = {'name':[],'keys':[],'length':[]}
for i in dataframes:
    key_dict['name'].append(i)
    key_dict['keys'].append(df_list[i].keys())
    key_dict['length'].append(len(df_list[i].keys()))
print(key_dict)

{'name': ['movies_csv', 'credits_csv'], 'keys': [Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object'), Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')], 'length': [20, 4]}

In [10]:
# print()
# print('******************* Getting lenth elements of key_dict *******************')
# print()

length = key_dict['length']
# print("length item of key_dict dictionary :- ",length)

# sort lenght array
temp = 0; 
for i in range(0, len(length)):    
    for j in range(i+1, len(length)):    
        if(length[i] > length[j]):    
            temp = length[i]  
            length[i] = length[j] 
            length[j] = temp 

# Elements of array sorted in descending order
sorted_keydict = []
for i in range(0, len(length)):
    sorted_keydict.append(length[i])
# print('sorted list :- ',sorted_keydict)

max_length = sorted_keydict[-1]
# print('Max length is :- ',max_length)
# print()
# print('******************* Merging Start *******************')
# print()


if max_length in key_dict['length']:
        #print('Present')
        lenth_pos = key_dict['length'].index(max_length)
        #print(lenth_pos)
        key_items = key_dict['keys'][lenth_pos]
        # print(key_items)
        found_keys = []
        for i in range(0,len(key_dict['keys'])):
            if(i != lenth_pos):
                
                for j in key_items:
                    if j in key_dict['keys'][i]:
                        #print(j)
                        found_keys.append(j)
                common_column = ''.join(found_keys)
                print(common_column)
else:
    print('Not Present')

title

# sort column on the basis of common selected column

In [11]:
df_list['credits_csv'].sort_values(by='title',ignore_index=t)

,movie_id,title,cast,crew
0,301325,#Horror,"[{""cast_id"": 0, ""character"": ""Alex's 12-Step F...","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."
1,19913,(500) Days of Summer,"[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...","[{""credit_id"": ""52fe47f99251416c750abaa5"", ""de..."
2,333371,10 Cloverfield Lane,"[{""cast_id"": 2, ""character"": ""Michelle"", ""cred...","[{""credit_id"": ""57627624c3a3680682000872"", ""de..."
3,345003,10 Days in a Madhouse,"[{""cast_id"": 2, ""character"": ""Nellie Bly"", ""cr...","[{""credit_id"": ""594efa1fc3a36832650455ff"", ""de..."
4,4951,10 Things I Hate About You,"[{""cast_id"": 2, ""character"": ""Patrick Verona"",...","[{""credit_id"": ""52fe43e6c3a36847f807731d"", ""de..."
...,...,...,...,...
4798,10664,[REC]Â²,"[{""cast_id"": 3, ""character"": ""\u00c1ngela Vida...","[{""credit_id"": ""52fe439e9251416c7501783d"", ""de..."
4799,1946,eXistenZ,"[{""cast_id"": 3, ""character"": ""Allegra Geller"",...","[{""credit_id"": ""52fe4325c3a36847f803db2d"", ""de..."
4800,7451,xXx,"[{""cast_id"": 8, ""character"": ""Xander Cage"", ""c...","[{""credit_id"": ""538d8c59c3a368714b004879"", ""de..."
4801,11679,xXx: State of the Union,"[{""cast_id"": 13, ""character"": ""Darius Stone / ...","[{""credit_id"": ""5578b667c3a3682a7500041a"", ""de..."
4802,8202,Ã†on Flux,"[{""cast_id"": 1, ""character"": ""Aeon Flux"", ""cre...","[{""credit_id"": ""52fe4495c3a36847f809e6f3"", ""de..."

In [12]:
for i in df_list:
    df_list[i] = df_list[i].sort_values(by=common_column,ignore_index=t)

In [13]:
df_list['credits_csv']

,movie_id,title,cast,crew
0,301325,#Horror,"[{""cast_id"": 0, ""character"": ""Alex's 12-Step F...","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."
1,19913,(500) Days of Summer,"[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...","[{""credit_id"": ""52fe47f99251416c750abaa5"", ""de..."
2,333371,10 Cloverfield Lane,"[{""cast_id"": 2, ""character"": ""Michelle"", ""cred...","[{""credit_id"": ""57627624c3a3680682000872"", ""de..."
3,345003,10 Days in a Madhouse,"[{""cast_id"": 2, ""character"": ""Nellie Bly"", ""cr...","[{""credit_id"": ""594efa1fc3a36832650455ff"", ""de..."
4,4951,10 Things I Hate About You,"[{""cast_id"": 2, ""character"": ""Patrick Verona"",...","[{""credit_id"": ""52fe43e6c3a36847f807731d"", ""de..."
...,...,...,...,...
4798,10664,[REC]Â²,"[{""cast_id"": 3, ""character"": ""\u00c1ngela Vida...","[{""credit_id"": ""52fe439e9251416c7501783d"", ""de..."
4799,1946,eXistenZ,"[{""cast_id"": 3, ""character"": ""Allegra Geller"",...","[{""credit_id"": ""52fe4325c3a36847f803db2d"", ""de..."
4800,7451,xXx,"[{""cast_id"": 8, ""character"": ""Xander Cage"", ""c...","[{""credit_id"": ""538d8c59c3a368714b004879"", ""de..."
4801,11679,xXx: State of the Union,"[{""cast_id"": 13, ""character"": ""Darius Stone / ...","[{""credit_id"": ""5578b667c3a3682a7500041a"", ""de..."
4802,8202,Ã†on Flux,"[{""cast_id"": 1, ""character"": ""Aeon Flux"", ""cre...","[{""credit_id"": ""52fe4495c3a36847f809e6f3"", ""de..."

In [14]:
df_list['movies_csv']

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,1500000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...",http://www.hashtaghorror.com/,301325,[],de,#Horror,"Inspired by actual events, a group of 12 year ...",2.815228,"[{""name"": ""AST Studios"", ""id"": 75277}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-11-20,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Death is trending.,#Horror,3.3,52
1,7500000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://500days.com,19913,"[{""id"": 248, ""name"": ""date""}, {""id"": 572, ""nam...",en,(500) Days of Summer,"Tom (Joseph Gordon-Levitt), greeting-card writ...",45.610993,"[{""name"": ""Fox Searchlight Pictures"", ""id"": 43...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-07-17,60722734,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,It was almost like falling in love.,(500) Days of Summer,7.2,2904
2,15000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...",http://www.10cloverfieldlane.com/,333371,"[{""id"": 1930, ""name"": ""kidnapping""}, {""id"": 23...",en,10 Cloverfield Lane,"After a car accident, Michelle awakens to find...",53.698683,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-10,108286421,103.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Monsters come in many forms.,10 Cloverfield Lane,6.8,2468
3,1200000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,345003,"[{""id"": 1568, ""name"": ""undercover""}, {""id"": 49...",en,10 Days in a Madhouse,"Nellie Bly, a 23 year-old reporter for Joseph ...",0.489271,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-11-20,0,111.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,10 Days in a Madhouse,4.3,5
4,16000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,4951,"[{""id"": 497, ""name"": ""shakespeare""}, {""id"": 59...",en,10 Things I Hate About You,"Bianca, a tenth grader, has never gone on a da...",54.550275,"[{""name"": ""Mad Chance"", ""id"": 1757}, {""name"": ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1999-03-30,53478166,97.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,How do I loathe thee? Let me count the ways.,10 Things I Hate About You,7.3,1701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,5600000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",http://www.rec2themovie.com/,10664,"[{""id"": 3684, ""name"": ""religion and supernatur...",es,[REC]Â²,"The action continues from [REC], with the medi...",22.341462,"[{""name"": ""Filmax"", ""id"": 3631}]","[{""iso_3166_1"": ""ES"", ""name"": ""Spain""}]",2009-09-15,18469680,85.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,Fear Revisited,[REC]Â²,6.4,489
4799,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",NaN,1946,"[{""id"": 282, ""name"": ""video game""}, {""id"": 215...",en,eXistenZ,A game designer on the run from assassins must...,21.928025,"[{""name"": ""Alliance Atlantis Communications"", ...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",1999-04-14,2856712,97.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Play it. Live it. Kill for it.,eXistenZ,6.7,475
4800,70000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/xxx/,7451,"[{""id"": 999, ""name"": ""sports car""}, {""id"": 186...",en,xXx,Xander Cage is your standard adrenaline junkie...,46.217769,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2002-08-09,277448382,124.0,"[{""iso_639_1"": ""cs"", ""name"": ""\u010cesk\u00fd""...",Released,A New Breed Of Secret Agent.,xXx,5.8,1424
4801,60000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/xxxstateoft...,11679,"[{""id"": 521, ""name"": ""washington d.c.""}, {""id""...",en,xXx: State of the Union,"Ice Cube stars as Darius Stone, a thrill-seeki...",36.689223,"[{""name"": ""Original Film"", ""id"": 333}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-04-27,71073932,101.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Prepare for the next level,xXx: State of the Union,4.7,549
4802,62000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",NaN,8202,"[{""id"": 779, ""name"": ""martial arts""}, {""id"": 4...",en,Ã†on Flux,"400 years into the future, disease has wiped o...",29.954302,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-11-30,52304001,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Perfect World Meets The Perfect Assassin,Ã†on Flux,5.4,703

# remove founded columns from dataframes excluding dataframe having max columns

In [15]:
if max_length in key_dict['length']:
        wanted_cols = []
        for i in range(0,len(key_dict['keys'])):
            if(i != lenth_pos):
                wanted_cols.append(key_dict['keys'][i].values) # for storing keys
                wanted_cols = np.ravel(wanted_cols) # for converting into 1d numpy array
                wanted_cols = wanted_cols.tolist() # for converting into list                

                if common_column in wanted_cols:
                    location = wanted_cols.index(common_column)
                    wanted_cols = np.delete(wanted_cols,location)
                    wanted_cols = wanted_cols.tolist()
                    print(wanted_cols)
else:
    print('Not Present')

['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'vote_average', 'vote_count']

In [16]:
df_list['credits_csv'].loc[:,wanted_cols]

KeyError: "None of [Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',\n       'original_title', 'overview', 'popularity', 'production_companies',\n       'production_countries', 'release_date', 'revenue', 'runtime',\n       'spoken_languages', 'status', 'tagline', 'vote_average', 'vote_count'],\n      dtype='object')] are in the [columns]"

In [ ]:
file_count = 0
for k in df_list:
    if file_count != lenth_pos:
        print(k)
        df_list[k] = df_list[k].loc[:,wanted_cols]
        file_count+=1

In [ ]:
df_list['credits_csv']

In [ ]:
df_list['movies_csv']

In [ ]:
frame_keys = []
for i in df_list:
    frames = df_list[i]
    frame_keys.append(frames.keys().values)
    
np_frame_single = np.concatenate(frame_keys)

frame_keys = np_frame_single.tolist()
print(frame_keys)

# merging all dataframes in one movie dataframe

In [ ]:
movies = []
for i in df_list:
    movies.append(df_list[i])
        
movies = pd.concat(movies,axis=1,ignore_index=1)

In [ ]:
frame_counter = 0
frame_dict = {}
for i in frame_keys:
    frame_dict[frame_counter] = i
    frame_counter+=1

In [ ]:
print(frame_dict)

In [ ]:
movies.rename(columns=frame_dict,inplace=t)
movies

In [ ]:
movies.rename(columns={'vote_average':'rating'},inplace=t)

# Data Preprocessing start

In [ ]:
selected_cols = []
select_count = 0
print()
print('do you want to add this column for analysis')
print()
for i in movies:
    print(f'{select_count+1}.) {i} => Type y / n :- ')
    print(movies[i].head(5))
    print()
    print('single value contain this type of data :- ',movies[i][0])
    choice = input()
    if (choice == 'y' or choice == 'Y'):
        selected_cols.append(i)
        print('Selected')
        print('''
        ------------------------------------------------
        ''')
    elif (choice == 'n' or choice == 'N'):
        print('Not Selected')
        print('''
        ------------------------------------------------
        ''')
    select_count+=1

In [ ]:
print(selected_cols)

In [ ]:
movies_new = movies[selected_cols]

In [ ]:
movies_new

In [ ]:
movies_new.info()

In [ ]:
movies_new.isnull().sum()

# getting year from release date

In [ ]:
movies_new['release_date'][0]

In [ ]:
from datetime import datetime

In [ ]:
demo_date = '2015-11-20'
demo_date_format = "%Y-%m-%d"
demo_date = datetime.strptime(demo_date,demo_date_format)
print(demo_date.year)

In [ ]:
dummy_dates = ['2012-07-16','2019-08-15','2010-03-12','nan','2010-03-12']
dummy_year = []
for i in dummy_dates:
    #print(i)
    if i != 'nan':
        date_year = datetime.strptime(i, "%Y-%m-%d")
        dummy_year.append(date_year.year)
    else:
        dummy_year.append(None)
    
print(dummy_year)

In [ ]:
year = []
for i in movies_new['release_date']:
    if str(i) != 'nan':
        release = datetime.strptime(str(i), "%Y-%m-%d")
        year.append(str(release.year))
    else:
        year.append(None)
# print(year)
movies_new['year'] = year

In [ ]:
movies_new['year'].dtype

In [ ]:
movies_new

# getting names data

In [ ]:
import ast

In [ ]:
def gettingName(obj):
    name_list=[]
    for i in ast.literal_eval(obj):
        name_list.append(i['name'])
    return name_list

In [ ]:
def gettingDirector(obj):
    director_name = []
    name_count = 0
    for i in ast.literal_eval(obj):
        if (i['job']=='Director'):
            if name_count <= 1:
                director_name.append(i['name'])
        name_count+=1
    return director_name

In [ ]:
def nameMerger(obj):
    merge_name = []
    for i in obj:
        merge_name.append(i.replace(' ',''))
    return str(merge_name)

In [ ]:
movie_count = 0
for i in movies_new:
    col_val = movies_new[i].iloc[0]
    if  (movies_new[i].dtype == 'object'):
        str_col_val = str(col_val)        
        if (str_col_val[0] == '[' and str_col_val[-1]==']'):
            print(f'{movie_count}.) {i}')
            #print("Skipped")
            print("we have these functions to apply :-")
            print("""choose number according to name :-
=> gettingName()     # 1 for getting all names.
=> gettingDirector() # 2 for getting director names
            """)
            func = int(input())
            if func == 1: 
                print('gettingName() function choosed')
                movies_new[i] = movies_new[i].apply(gettingName)
                movies_new[i] = movies_new[i].apply(nameMerger)
                print('text conversion finished')
            elif func == 2: 
                print('gettingDirector() function choosed')
                movies_new[i] = movies_new[i].apply(gettingDirector)
                movies_new[i] = movies_new[i].apply(nameMerger)
                print('text conversion finished')
            print()
    movie_count+=1

In [ ]:
movies_new

In [ ]:
lst1 = ['hello','how','are','you','?']
conti = ""
for i in lst1:
    conti += i+" "
print(conti)

In [ ]:
def lsttostr(obj):
    conti_str = ""
    for i in ast.literal_eval(obj):
        conti_str += i+" "
    return conti_str

In [ ]:
lst2 = lsttostr("['hello','how','are','you','?']")
print(lst2)

In [ ]:
for i in movies_new:
    if movies_new[i].dtypes == 'object':
        str_cols = str(movies_new[i][0])
        if (str_cols[0] == '[' and str_cols[-1] == ']'):
            print(i)
            movies_new[i] = movies_new[i].apply(lsttostr)
            print(movies_new[i])

In [ ]:
movies_new

In [ ]:
tags = ""
for i in movies_new:
    if movies_new[i].dtype == 'object':
        print(i)
        print("want to add in tags # type y/n :- ")
        choice = input()
        if (choice == 'y' or choice == 'Y'):
            tags+=movies_new[i] + " "
            print('------------------')
        elif (choice == 'n' or choice == 'N'):
            print("Not choosed")
            print('------------------')
        
movies_new['tags'] = tags

In [ ]:
movies_new

In [ ]:
movies_two = movies_new[['movie_id','title','rating','vote_count','tags']]

In [ ]:
movies_two['tags'] = movies_two['tags'].apply(lambda x:str(x).lower())

In [ ]:
movies_two

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
movies_two['tokenize'] = movies_two['tags'].apply(lambda x: word_tokenize(x))

In [ ]:
movies_two

# removing stop words

In [ ]:
from nltk.corpus import stopwords

In [ ]:
stop_words = set(stopwords.words('english'))
special_char = list("!@#$%^&*()-+?_=,<>/.~")
print(special_char)

In [ ]:
def removingStopWords(obj):
    stop_tags = []
    for w in obj:
        if w not in stop_words:
            if w not in special_char:
                stop_tags.append(w)
    return stop_tags

In [ ]:
check = removingStopWords(['this', 'is', 'a', 'sample', 'sentence', ',', 'showing', 'off', 'the', 'stop', 'words', 'filtration', '.'])
print(check)

In [ ]:
movies_two['stop_words'] = movies_two['tokenize'].apply(removingStopWords)

In [ ]:
movies_two['stop_words'][0]

In [ ]:
movies_two

# applying steeming

In [ ]:
from nltk.stem import PorterStemmer

In [ ]:
ps = PorterStemmer()

In [ ]:
words = ["program", "programs", "programmer", "programming", "programmers"]

for w in words:
    print(w, " : ", ps.stem(w))

In [ ]:
def stemword(obj):
    stemTxt = []
    for i in obj:
        stemTxt.append(ps.stem(i))
    return stemTxt

In [ ]:
check = stemword(["program", "programs", "programmer", "programming", "programmers"])

In [ ]:
movies_two['stemming'] = movies_two['stop_words'].apply(stemword)

In [ ]:
movies_two['stemming'][1]

# getting columns in which need to recommendation

In [ ]:
movies = movies_two[['movie_id','title','rating','vote_count','stemming']]

In [ ]:
movies

In [ ]:
movies.rename(columns={'stemming':'tags'},inplace=t)

In [ ]:
movies

In [ ]:
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))

# keyword reccomendation using knn

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv = CountVectorizer(max_features=5000)

In [ ]:
vectors = cv.fit_transform(movies['tags']).toarray()

In [ ]:
vectors[0]

In [ ]:
cv.get_feature_names()

In [ ]:
keyword_recommend = pd.DataFrame(vectors,columns=cv.get_feature_names())

In [ ]:
keyword_recommend['title'] = movies['title']
keyword_recommend['movie_id'] = movies['movie_id']

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [ ]:
keyword_recommend = keyword_recommend.set_index('title')

# keyword_recommend

In [ ]:
from sklearn.neighbors import NearestNeighbors

In [ ]:
nneighbor = NearestNeighbors()

In [ ]:
nneighbor.fit(keyword_recommend)

In [ ]:
distance , index = nneighbor.kneighbors(keyword_recommend.iloc[[3422]],n_neighbors=10)

In [ ]:
keyword_recommend.iloc[[3422]].index

In [ ]:
title_dataframe = pd.DataFrame(keyword_recommend.index)

In [ ]:
rec_movie_name = []
for i in index[0]:
    rec_movie_name.append(title_dataframe['title'].iloc[[i]].values)
rec_movie_name = np.ravel(rec_movie_name).tolist()
#print(rec_movie_name[1:])

In [ ]:
for i in range(1, len(rec_movie_name)):
    print(f"{i}.) => {rec_movie_name[i]}")
    print('-----------------------------')

# movie recommendation through cosign distance

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarities = cosine_similarity(vectors)

In [ ]:
similarities.shape

In [ ]:
similarities

In [ ]:
def recommend(movie):
    movie_index = movies[movies['title'] == movie].index[0]
    distances = similarities[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=t,key=lambda x:x[-1])[1:11]
    movie_count = 0
    for i in movies_list:
        print(f"{movie_count+1}.) => {movies['title'].iloc[i[0]]}")
        movie_count+=1
        print('-----------------------------')

In [ ]:
recommend('The Amazing Spider-Man 2')

# movie recommend on the basis of rating / users rating using KNN

In [ ]:
movies

In [ ]:
ratings = pd.pivot_table(movies,index="title",columns="vote_count",values="rating",aggfunc="sum",fill_value=0)

In [ ]:
ratings.shape

In [ ]:
from sklearn.neighbors import NearestNeighbors

In [ ]:
knn = NearestNeighbors()

In [ ]:
knn.fit(ratings)

In [ ]:
rate_distance,rate_index = knn.kneighbors(ratings.iloc[[1]],n_neighbors=11)

In [ ]:
rate_distance = np.ravel(rate_distance).tolist()
rate_distance

In [ ]:
rate_index = np.ravel(rate_index).tolist()
rate_index

In [ ]:
count_new = 0
for i in rate_index:
    if count_new == 0:
        pass
    else:
        #print(f"{count_new}.) => {ratings.iloc[[i+1]].index[0]} => {movies['rating'].iloc[[i]].values} => at index {count_new}")
        print(f"{count_new}.) => {ratings.iloc[[i]].index[0]} => {movies['rating'].iloc[[i]].values} having movie_id => {i}")
    count_new+=1

#

In [ ]:
movies.iloc[[342]]